html{
  margin: 0;
  padding: 15px;
  background-color: #444554;
}

h1{
   text-align: center;
   color: #fff;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}